<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Zorgdossier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="localDb" connectionString="Data Source=.\Databases\database.db;" providerName="System.Data.SQLite" />
	</connectionStrings>
 <userSettings>
  <Zorgdossier.Properties.Settings>
   <setting name="languageName" serializeAs="String">
    <value>Dutch</value>
   </setting>
   <setting name="themeName" serializeAs="String">
    <value>Light</value>
   </setting>
  </Zorgdossier.Properties.Settings>
 </userSettings>
</configuration>